@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            
            <h1>Charting by Razor</h1>
        </hgroup>
        <p>
            To learn about ASP.NET charting, visit
            <a href="http://faridamiri.co.nf" title="ASP.NET charting">Farid Amiri Website</a>.
        </p>
    </div>
</section>
}

<h3>the following page make chart with razor:</h3>

<ol class="round">
    <li class="one">
        <h5>chart from Array</h5>
        <a href="~/Chart/ChartArrayBasic.cshtml">Learn more…</a>
    </li>
    
    <li class="two">
        <h5>chart from XML file</h5>
        
        <a href="~/Chart/ChartDataBindBasic.cshtml">Learn more…</a>
    </li>

    <li class="three">
        <h5>Chart from database</h5>
        
        <a href="~/Chart/ChartDataBindBasic.cshtml">Learn more…</a>
    </li>
</ol>